
<div ng-controller="homeCtrl as homeC">
    <h1 class="home">Welcome To Musical ShipShop</h1>
    <div class="container">
        <div class="row">

            <div class="col-xs-8">
                <h2 class="home">Our top hotest products: </h2>
                <div  ng-repeat="product in homeC.top5Products" class="col-sm-6 col-md-5">
                    <div ng-include="'tamplates/productBox'"></div>
                </div>
            </div>
            <h2 ng-show="homeC.userService.isLoggedIn" class="home">Our last Month Product: </h2>
            <div ng-show="homeC.userService.isLoggedIn" class="col-xs-4" style="border:2px solid black;" >
                <div  ng-repeat="product in homeC.lastestProduct" >
                    <div ng-include="'tamplates/productBox'"></div>
                </div>
            </div>
            <div ng-show="!homeC.userService.isLoggedIn" class="col-xs-4" style="border:2px solid black;" >
                <h1>Please <a ng-click="homeC.loginService.loginModal()">login</a> to watch our newest product</h1>
            </div>
        </div>
    </div>

</div>

