<div ng-controller="productsController as prodCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="search.Description">
                        <span class="input-group-addon">
                        <button type="submit" ng-click="">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="col-xs-2">
                <p>Categories :</p>
                <div ng-repeat="category in prodCtrl.allCatrgories"
                     class="col-sm-12 ">
                    <li><a href="#" ng-click="prodCtrl.selctedCategory(category)">{{category}}</a></li>
                </div>
                <div>Sort By:
                    <li><a href="#" ng-click="prodCtrl.selctedCategory(category)">Name</a></li>
                </div>
            </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-9">


                <div ng-show="!prodCtrl.showSerchProduct" ng-repeat="product in prodCtrl.products | filter:search"
                     class="col-sm-6 col-md-4">
                    <div ng-include="'tamplates/productBox'"></div>
                </div>
                <div ng-show="!prodCtrl.isCategoryChoose" ng-repeat="product in prodCtrl.products "
                     class="col-sm-6 col-md-4">
                    <div ng-include="'tamplates/productBox'"></div>
                </div>
                <div ng-show="prodCtrl.isCategoryChoose" ng-repeat="product in prodCtrl.productsByCategory  "
                     class="col-sm-6 col-md-4">
                    <div ng-include="'tamplates/productBox'"></div>
                </div>

            </div>
            <div class="col-xs-2" style="border:2px solid black;">Recomended for you:
                <div ng-repeat="product in prodCtrl.recomededProduct">
                    <div ng-include="'tamplates/productBox'"></div>
                </div>
            </div>
        </div>
    </div>

</div>
